* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  background-color: #cccccc;
  padding: 2px;
}

img {
  max-height: 80px;
  max-width: 70px;
}

.container-game {
  display: flex;
  border: 1px solid #666666;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  height: 200px;
}

#user {
  flex: 3;
  text-align: center;
  border: 1px solid #666666;
}

#table {
  flex: 1;
  border: 1px solid #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dealer {
  flex: 3;
  text-align: center;
  border: 1px solid #666666;
}

.container-scores {
  display: flex;
  border: 1px solid #666666;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  height: 200px;
}

#user-value {
  flex: 3;
  text-align: center;
  border: 1px solid #666666;
}

#total-scores {
  flex: 1;
  text-align: center;
  border: 1px solid #666666;
}

#dealer-value {
  flex: 3;
  text-align: center;
  border: 1px solid #666666;
}

#message {
  text-align: center;
}

#deck {
  margin-top: 10px;
}

#buttons {
  display: flex;
  text-align: center;
  margin: 10px;
}

.btn {
  padding: 5px;
  margin-bottom: 5px;
}

#new-game {
  flex: 1;
}

#hit {
  flex: 1;
}

#stand {
  flex: 1;
}
