* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  background-color: #cccccc;
  padding: 2px;
}

img {
  max-height: 70px;
  max-width: 70px;
}

#message {
  text-align: center;
}

#user {
  border: solid 1px black;
  text-align: center;
  width: 50%;
  float: left;
  margin-bottom: 50px;
}

#dealer {
  border: solid 1px black;
  text-align: center;
  width: 50%;
  float: right;
  margin-bottom: 50px;
}

#buttons {
  text-align: center;
  padding-top: 100px;
}

#player-cards {
  min-height: 70px;
}

#dealer-cards {
  min-height: 70px;
}
