* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
}

#message {
  font-size: 25px;
  padding: 15px;
  border: 2px solid black;
  margin: 20px 100px;
  border-radius: 10px;
}

.container-names {
  display: flex;
  margin: 10px 100px;
  align-items: center;
}

#user-name {
  flex: 3;
}

#table-name {
  flex: 1;
}

#dealer-name {
  flex: 3;
}

#btn-container {
  display: flex;
}

button {
  font-size: 15px;
}

.container-game {
  display: flex;
  height: 230px;
  margin: 10px 100px;
  border: 5px solid black;
  flex-direction: row;
  align-items: center;
  background-color: #35654d;
  border-radius: 50px;
  justify-content: center;
}

#user {
  flex: 3;
}

#table {
  flex: 1;
}

#dealer {
  flex: 3;
}

.container-scores {
  display: flex;
  flex-direction: row;
  margin: 10px 100px;
}

#user-value {
  flex: 3;
}

#total-scores {
  flex: 1;
}

#dealer-value {
  flex: 3;
}

#new-game {
  flex: 1;
}

#hit {
  flex: 1;
}

#stand {
  flex: 1;
}

img {
  max-height: 90px;
}

#deck-container {
  display: grid;
  justify-content: center;
}

#deck,
#deck-animated {
  grid-row: 1;
  grid-column: 1;
}
